.wrap {
    position:relative; 
    overflow: hidden;

    .header_wrap {
        position: fixed; 
        left:0; 
        top:0; 
        z-index:100; 
        width:100%; 
        height:70px; 
        border-bottom:1px solid rgba(255,255,255,.2);

        .logo {
            margin-top:15px; 
            padding-left:20px; 
            font-size:24px; 
            color:#fff;
        }
    }

    .section_today {
        overflow:hidden; 
        position:relative; 
        height:100vh; 
        background: #000; 
        text-align:center;
        
        &.active .date_box {

            .t_date {
                transform:translateX(0%); 
                -webkit-transform:translateX(0%); 
                -moz-transform:translateX(0%); 
                -o-transform:translateX(0%); 
                -ms-transform:translateX(0%);
            }

            .date_count {
                opacity: 1;

                &:after {
                    clear:both; 
                    display:block; 
                    content:'';
                }
            }
        }

        .date_box {
            height: 100%;

            .tb_row {
                display: table; 
                width:100%; 
                height: 100%;

                .tb_cell {
                    display: table-cell; 
                    vertical-align: middle;

                    .t_date {
                        position: absolute; 
                        left:20px; 
                        top:400px; 
                        z-index:100; 
                        font-size:300px; 
                        color:#fff; 
                        opacity: .1; 
                        transform:translateX(-100%); 
                        -webkit-transform:translateX(-100%); 
                        -moz-transform:translateX(-100%); 
                        -o-transform:translateX(-100%); 
                        -ms-transform:translateX(-100%); 
                        -webkit-text-fill-color:transparent; 
                        -webkit-text-stroke:2px #fff; 
                        transition:transform 1s;
                    }

                    .date_count {
                        overflow:hidden; 
                        position: relative; 
                        display:inline-block; 
                        height: 200px; 
                        opacity: 0; 
                        transition:opacity .5s 1s;
                    }

                }
            }
        } 
    }

    .footer {
        position:relative; 
        height:300px; 
        background: #111;

        .text_area {
            position: relative; 
            z-index: 20; 
            padding:20px;

            p {
                color:#fff; 
                font-size:34px;
            }
        }
    }
}

.section_today .date_box .date_count .count_box { float: left;  animation: count_date 2.8s 1 ease-out both paused;}
.section_today .date_box .date_count .count_box.active { animation-play-state: running;}
.section_today .date_box .date_count .count_box span {display:block; height:200px; color:#fff; font-size:200px; line-height: 1; text-align: center; -webkit-text-fill-color:transparent; -webkit-text-stroke:6px #fff;}

@keyframes count_date {
	0%{
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-4800px); /* 높이 x 롤링될 개수로 구한값 */
	}
} 
